- unless params[:controller] == "welcome"
  %div.navbar
    .navbar-inner
      %ul
        -if params[:controller] == "schedule"
          %li= link_to "Next Week", "#nextWeek", :class => "btn btn-inverse pull-right", 'data-toggle' => 'tab'
          %li.active= link_to "This Week", "#thisWeek", :class => "btn btn-inverse", 'data-toggle' => 'tab'
