%div.navbar
  .navbar-inner
    .active= link_to "<< This Week", "#thisWeek", :class => "btn pull-left", 'data-toggle' => 'tab'
    = link_to "Next Week >>", "#nextWeek", :class => "btn pull-right", 'data-toggle' => 'tab'
